<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mywebpage</title>

</head>
<body bgcolor="EDF0F5">
    
    <center><table width="100%" bgcolor="#3B5998">
        <tr>
            <td width="60%"><img height="70px" src="facebook.png"></td>
            <td><input type="text" name="text_username" maxlength="18" size="20" placeholder="username"></td>
            <td><input type="password" name="text_pwsd" maxlength="18" size="20" placeholder="Password"></td>
            <td width="20%"><input type="button" value="LOGIN"></td>
        </tr>
    </table>

</body>
</html>